@color-green: #14ac7a;
@color-gray-medium: #464646;
@color-gray-dark: #282828;
@color-gray-light: #ebebeb;
@color-white: #ffffff;
@color-brown: #400000;


@font-face {
	font-family: RobotoThin;
	src: url(../fonts/roboto/Roboto-Thin.ttf);
}
@font-face {
	font-family: RobotoLight;
	src: url(../fonts/roboto/Roboto-Light.ttf);
}
@font-face {
	font-family: RobotoBold;
	src: url(../fonts/roboto/Roboto-Bold.ttf);
}
@font-face {
	font-family: RobotoRegular;
	src: url(../fonts/roboto/Roboto-Regular.ttf);
}
@font-face {
	font-family: RobotoSlabBold;
	src: url(../fonts/Roboto_Slab/RobotoSlab-Bold.ttf);
}
@font-face {
	font-family: RobotoSlabRegular;
	src: url(../fonts/Roboto_Slab/RobotoSlab-Regular.ttf);
}
@font-face {
	font-family: RobotoSlabLight;
	src: url(../fonts/Roboto_Slab/RobotoSlab-Light.ttf);
}
@font-face {
	font-family: RobotoSlabThin;
	src: url(../fonts/Roboto_Slab/RobotoSlab-Thin.ttf);
}
@font-face {
	font-family: OpenSansBold;
	src: url(../fonts/Open_Sans/OpenSans-Bold.ttf);
}
@font-face {
	font-family: OpenSansRegular;
	src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
}
@font-face {
	font-family: OpenSansLight;
	src: url(../fonts/Open_Sans/OpenSans-Light.ttf);
}

body, html {
	width: 100%; 
	height: 100%;
	padding: 0;
	margin: 0;
}

ul, li, input {
	padding: 0;
	margin: 0;
	list-style: none;
}

input, button {
	outline: none;
}

a {
	text-decoration: none;
}

.wrap {
	width: 980px;
	margin: 0 auto;
}

.wrap--rent {
	width: 1080px;
	margin: 0 auto;
}

.button {
	border: 0;
	height: 52px;
	background: @color-green;
	color: @color-white;
	text-shadow: 0px -1px 2px rgba(0, 0, 0, 0.44);
	font-size: 30px;
	font-family: RobotoSlabRegular;
	cursor: pointer;

	&:hover {
		background: darken(@color-green, 5%);
	}

	&--placeorder {
		padding: 0 45px;
	}

	&--subscribe {
		padding: 0 55px;
	}

	&--ordernow {
		height: 61px;
		padding: 0 55px;
	}

	&--sorts {
		padding: 0 45px;
		position: absolute;
		right: 20px;
		bottom: 15px;
	}

	&--contacts {
		padding: 0 35px;
	}
}

.clear {
	clear: both;
}

header {
	width: 100%;
	height: 100px;
	background: @color-gray-medium;

	img {
		float: left;
		margin: 12px 0 0 25px;
	}

	.info {
		float: right;
		margin-top: 22px;
		width: 240px;
		text-align: right;

		span {
			color: @color-white;

			&:first-child {
				font-size: 14px;
				font-family: RobotoThin;
			}

			&:last-child {
				font-size: 30px;
				font-family: RobotoSlabBold;
			}
		}
	}
}

.sticky-header {
	width: 100%;
	height: 44px;
	background: @color-gray-dark;

	li {
		float: left;
		&:last-child {
			float: right;
		}
	}

	a {
		color: @color-white;
		display: block;
	}

	.nav {
		padding: 10px 15px;
		font-size: 18px;
		font-family: RobotoSlabThin;

		&:hover {
			background: @color-gray-medium;
		}
	}

	.order {
		padding: 6px 20px;
		font-size: 24px;
		font-family: RobotoSlabRegular;
		background: @color-green;
		text-shadow: 0px -1px 2px rgba(0, 0, 0, 0.44);
		// -webkit-font-smoothing: antialiased;
	}
}

.rent {
	background: url(../img/bean-bg.jpg);
	overflow: hidden;

	.machine {
		display: inline-block;
		margin-top: 20px;
	}

	.info {
		width: 460px;
		float: right;
		margin-right: 50px;
		-webkit-box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.19);
		-moz-box-shadow:    0px -5px 10px 0px rgba(0, 0, 0, 0.19);
		box-shadow:         0px -5px 10px 0px rgba(0, 0, 0, 0.19);
	}

	.top {
		height: 290px;
		padding: 0 20px;
		background: @color-gray-light;

		img {
			margin: 0 auto;
			padding-top: 35px;
			margin-bottom: 30px;
			display: block;
		}

		span {
			font-size: 18px;
			font-family: RobotoThin;
			color: @color-brown;
			display: block;
			margin: 0 auto;
		}
	}

	.bottom {
		height: 225px;
		background: @color-gray-medium;
		padding: 0 20px;
		text-align: center;

		span {
			font-size: 24px;
			font-family: RobotoThin;
			color: @color-white;
			display: block;
			padding-top: 20px;
		}

		button {
			margin-top: 35px;
		}
	}
	
}

.steps {
	width: 100%;

	&__item {
	 	width: 290px;
	 	height: 245px;
	 	display: inline-block;
	 	margin: 30px 0 70px 0;
	 	text-align: center;
	 	vertical-align: top;

	 	&:not(:last-child) {
 			margin-right: 50px;
 		}

	 	.img-step {
	 		&--clicked {
	 			width: 91px;
	 			height: 91px;
	 			display: inline-block;
	 			vertical-align: middle;
	 			margin: 0 20px 20px 0;
	 		}
	 	}

	 	.title {
	 		font-size: 24px;
	 		font-family: OpenSansLight;
	 		padding: 0 14px;
	 		position: relative;

	 		&--clicked {
	 			width: 175px;
	 			display: inline-block;
	 			font-size: 18px;
	 			padding: 0;
	 		}
	 	}

	 	.info {
	 		position: absolute;
	 		top: 0;
	 		right: 5px;
	 		cursor: pointer;

	 		&--clicked {
	 			display: none;
	 		}
	 	}

	 	.text {
	 		display: none;
	 		font-size: 14px;
	 		font-family: OpenSansLight;
	 		text-align: left;

	 		&--clicked {
	 			display: block;
	 			clear: both;
	 		}
	 	}
	}
}

.beanybutton {
	background: url(../img/coffee-bg.jpg);
	padding: 25px 0 30px 0;

	&--move {
		background-position: 50%;
		padding: 20px 0 0px 0;

	}

	.ordernow {
		font-size: 30px;
		font-family: RobotoSlabRegular;
		color: @color-white;
		display: inline-block;
		text-align: right;
		position: relative;
		top: -15px;

		span {
			font-size: 36px;
			font-family: RobotoSlabBold;
			color: @color-green;
		}
	}

	input {
		width: 535px;
		height: 50px;
		float: left;
		padding: 0 15px;
		font-size: 24px;
		font-family: RobotoThin;
		border: 1px solid rgba(0, 0, 0, .4);
		-webkit-box-shadow: inset -1px 2px 7px 1px rgba(0, 0, 0, 0.63);
		-moz-box-shadow:    inset -1px 2px 7px 1px rgba(0, 0, 0, 0.63);
		box-shadow:         inset -1px 2px 7px 1px rgba(0, 0, 0, 0.63);
		box-sizing: border-box;
	}

	button {
		float: right;
	}
}

.slider-offer {
	width: 100%;
	background: @color-gray-light;
	padding: 20px 0 25px 0;

	.title {
		font-size: 48px;
		font-family: RobotoSlabRegular;
		color: @color-gray-medium;
		text-align: center;
		margin: 0 0 50px 0;
	}

	.fotorama__wrap {
		margin: auto;
		height: 535px;
	}

	.slider {
		
		.icon__item {
			display: inline-block;
			width: 92px;
			height: 126px;
			text-align: center;
			padding: 10px 5px 0 5px;
			position: relative;
			background: @color-gray-light;
			cursor: pointer;

			&:hover {
				background: @color-white;

				&:before {
					content: '';
					position: absolute;
					bottom: -24px;
					left: 27px;
					width: 49px;
					height: 49px;
					background: @color-white;
					transform: rotate(225deg) skew(-25deg, -25deg);
					z-index: -1;
				}
			}
		}

		.icon__img {
			width: 87px;
			height: 87px;
			border-radius: 50%;
			background: @color-white;

			img {
				width: 50px;
				height: 60px;
				padding-top: 15px;
			}
		}

		.icon__text {
			font-size: 14px;
			font-family: RobotoSlabLight;
		}

		&__item {
			width: 822px;
			margin: 0 auto;
			display: inline-block;
			padding: 30px 20px;
			background: @color-white; 

			& > img {
				float: left;
			}

			.description {
				float: left;
				margin-left: 25px;
			}

			.terms {
				float: left;
				margin-left: 20px;

				&__item {
					margin-bottom: 20px;
				}

				span {
					font-size: 14px;
					font-family: RobotoThin;
					display: inline-block;
					vertical-align: middle;
					width: 150px;
				}

				img {
					display: inline-block;
					vertical-align: middle;
				}

				button {
					margin-top: 25px;
				}
			}

			.name {
				font-size: 24px;
				font-family: RobotoSlabRegular;
				margin-bottom: 40px;
			}

			li {
				font-size: 14px;
				font-family: RobotoThin;
				position: relative;
				margin: 0 0 6px 10px;
			}

			li:before {
				content: '';
				position: absolute;
				width: 5px;
				height: 5px;
				border-radius: 50%;
				top: 7px;
				left: -9px;
				background: @color-green;
			}
		}
	}
}

.sorts {
	.icon {
		margin-top: 125px;

		&__item {
			display: inline-block;
			width: 98px;
			height: 80px;
			text-align: center;
			padding: 20px 0;
			position: relative;
			cursor: pointer;

			&:hover {
				background: @color-gray-light;

				&:before {
					content: '';
					position: absolute;
					top: -24px;
					left: 26px;
					width: 47px;
					height: 47px;
					background: @color-gray-light;
					transform: rotate(45deg) skew(-25deg, -25deg);
				}
			}
		}

		&__text {
			font-size: 14px;
			font-family: RobotoSlabLight;
		}
	}
	&__main {
		background: @color-gray-light;
		height: 300px;
		padding: 0 20px;
		position: relative;

		.image {
			position: relative;
			display: inline-block;
			vertical-align: middle;
		}

		.ribbon {
			width: 187px;
			height: 50px;
			padding: 5px 10px;
			background: @color-green;
			position: absolute;
			bottom: 10px;
			left: 0;
			font-size: 24px;
			font-family: RobotoSlabLight;

			&:before {
				content: '';
				position: absolute;
				top: -24px;
				left: 26px;
				width: 47px;
				height: 47px;
				background: darken(@color-green, 20%);
				transform: rotate(45deg) skew(-25deg, -25deg);
			}

			img {
				position: relative;
				top: 5px;
				left: 0;
				float: left;
			}
			span {
				height: 50px;
				display: inline-block;
				position: relative;
				top: -5px;
				left: 5px;
			}
		}

		ul {
			display: inline-block;
			vertical-align: top;
			margin-top: 35px;
			width: 560px;

			li {
				border-bottom: 1px solid black;
				font-size: 18px;
				font-family: RobotoSlabThin;
				padding: 7px 0;
			}

			.sort {
				display: inline-block;
				position: relative;
			}

			.price {
				display: inline-block;
				position: relative;
				right: -340px; 
			}
			
		}
	}
}

.discount {
	text-align: center;
	padding: 50px 0 25px 0;
	color: @color-gray-medium;

	.wrap {
		& > div:not(:last-child) {
			position: relative;
			line-height: .8;
			padding-bottom: 20px;
		}
		& > div:not(:first-child) {
			padding-top: 10px;
		}
	}

	.top {
		font-size: 36px;
		font-family: RobotoSlabBold;
		color: @color-green;
		text-transform: uppercase;

		&:after {
			content: '';
			position: absolute;
			width: 230px;
			height: 1px;
			bottom: 0;
			left: 0;
			right: 0;
			margin: 0 auto;
			background: @color-green;
		}
	}

	.middle {
		font-size: 36px;
		font-family: RobotoSlabLight;
		text-transform: lowercase;

		span {
			font-size: 24px;
			font-family: RobotoSlabLight;
		}

		&:after {
			content: '';
			position: absolute;
			width: 230px;
			height: 1px;
			bottom: 0;
			left: 0;
			right: 0;
			margin: 0 auto;
			background: @color-green;
		}
	}
	.bottom {
		font-size: 18px;
		font-family: RobotoLight;
	}
}

.about {
	position: relative;
	padding: 15px 0 65px 0;
	background: @color-gray-light;

	.title {
		font-size: 60px;
		font-family: RobotoSlabLight;
		text-align: center;
		margin-bottom: 15px;
	}

	img {
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
	}

	&__left {
		float: left;
		font-size: 24px;
		font-family: RobotoThin;
		text-align: left;
		width: 40%;
	}

	&__right {
		float: right;
		font-size: 24px;
		font-family: RobotoThin;
		text-align: right;
		width: 40%;

		div {
			float: right;
		}
	}

	.top {
		margin-bottom: 55px;
	}

	.middle {
		margin-bottom: 55px;
		width: 70%;
	}
	.bottom {
		
	}
}

.contacts {
	padding-bottom: 35px;

	.title {
		font-size: 60px;
		font-family: RobotoSlabLight;
		text-align: center;
		margin-bottom: 45px;
	}

	&__left {
		float: left;

		img, span {
			display: inline-block;
			vertical-align: middle;
		}

		div {
			font-size: 24px;
			margin-bottom: 10px;
		}

		.phone {
			font-family: RobotoSlabRegular;
		}

		.mail {
			font-family: RobotoSlabThin;
		}
	}

	&__right {
		float: right;

		div {
			font-size: 24px;
			font-family: RobotoSlabRegular;
			text-align: center;
			margin-bottom: 28px;
		}
	}
}

footer {
	width: 100%;
	height: 50px;
	background: @color-gray-dark;

	img {
		float: left;
		height: 35px;
		padding-top: 7px;
	}

	span {
		float: right;
		font-size: 12px;
		font-family: RobotoRegular;
		color: @color-white;
		padding-top: 25px;
	}

}

.navthumbs {
	width: 30px;
	height: 30px;
	background: red;
	display: inline-block;
}






